## function composition

In [ ]:
from toolz import compose

# function composition

def sq(n):
    return n * n

def double(n):
    return 2 * n

#sq(double(8)) = 256
#double(sq(8)) = 128

sd = compose(sq, double)
ds = compose(double, sq)

print(f"sq(double(8)) = {sd(8)}")

sq(double(8)) = 256

In [ ]:
from toolz import compose

def double(n):
    return 2 * n

def square(n):
    return n * n

def cube(n):
    return n * n * n

g = compose(
    cube,
    double,
    square
)

print(f"g(2) = {g(2)}")

g(2) = 512

In [ ]:
from toolz import compose, compose_left as pipe

# custom pipe
#def pipe(*args, **kwargs):
#    def closure():
#        nargs = args[::-1]
#        return compose(*nargs, **kwargs)
#
#    return closure()

g = pipe(lambda a: a + 2, lambda a: a * a)
h = compose(lambda a: a * a, lambda a: a + 2)

print(g(10))
print(h(10))

144
144

## currying

In [ ]:
from toolz import curry

# function currying

@curry
def add(a, b):
    return a + b

# partial application
add2=add(2)

print(f"add2(3) = {add2(3)}")
print(f"add(2)(3) = {add(2)(3)}")
print(f"add(2, 3) = {add(2, 3)}")

add2(3) = 5
add(2)(3) = 5
add(2, 3) = 5

In [ ]:
def curried_add(a):
    def closure(b):
        return a + b
    return closure

print(f"curried_add(2)(3) = {curried_add(2)(3)}")

add3 = curried_add(3)

print(f"add3(2) = {add3(2)}")

curried_add(2)(3) = 5
add3(2) = 5

In [ ]:
from toolz import curry, compose

#sum(map(lambda a: a * a, list(range(1, 8 + 1))))

# iota
def iota(n):
    return list(range(1, n + 1))

@curry
def curried_map(fn, seq):
    return list(map(fn, seq))

# map squares
sqmap = curried_map(lambda a: a * a)

#sum(sqmap(iota(8)))

g = compose(
    sum,
    sqmap,
    iota,
)

g(8)

204

## flatten

In [3]:
# flatten list

def flatten(seq):
    T = type(seq) # using generics
    return T( a for subseq in seq for a in subseq )

test = [[3, 1, 2], [5, 4], [0]]
flatten(test)

<class 'list'>

[3, 1, 2, 5, 4, 0]

## higher-order functions